.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #e0e1ea, #d0dce6); /* Gradient background */
    padding: 10px 20px;
    color: #fff; /* White text color */
    font-family: 'Arial', sans-serif; /* Change font */
  }
  
  .navbar-brand {
    font-size: 1.5rem; /* Adjust font size as needed */
    text-align: center;
  }
  
  .navbar-logo {
    width: 20%; /* Adjust the width as a percentage */
    height: auto; /* Maintain aspect ratio */
  }
  